---
import Button from './ui/Button.astro';
import logo from '/logo.svg';

interface Props {
  class?: string;
}

const {
  class: className = '',
} = Astro.props;
---

<header class={`flex items-center justify-between py-4 px-4 md:px-8 lg:px-16 bg-white ${className}`}>
  <div class="flex items-center">
    <a href="/" class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="154" height="36" viewBox="0 0 154 36" fill="none">
        <path d="M36.5 18C36.5 27.9411 28.4411 36 18.5 36C8.55888 36 0.5 27.9411 0.5 18C0.5 8.05888 8.55888 0 18.5 0C28.4411 0 36.5 8.05888 36.5 18Z" fill="#D50000"/>
        <path d="M18.2357 6.89626C17.3054 6.98348 16.4771 7.54884 16.0629 8.38054C15.9327 8.6422 15.8668 8.82754 15.8151 9.07985C15.7853 9.22781 15.7805 9.30257 15.7805 9.59538C15.7805 9.88818 15.7853 9.96294 15.8151 10.1109C15.8668 10.3632 15.9327 10.5486 16.0629 10.8102C16.4269 11.5422 17.0968 12.0609 17.9079 12.2415C18.5134 12.3755 19.1253 12.3038 19.69 12.0328C20.4085 11.6902 20.9357 11.0579 21.1396 10.2962C21.4408 9.16551 20.989 7.98338 20.0038 7.3308C19.7449 7.15791 19.3684 7.00372 19.0594 6.94142C18.7644 6.88224 18.5228 6.86822 18.2357 6.89626Z" fill="white"/>
        <path d="M10.9486 11.494C10.5689 11.5672 10.1783 11.8039 9.77983 12.2026C9.38292 12.5982 9.11936 13.0047 9.0268 13.366C8.98444 13.5296 8.98444 13.7616 9.0268 13.9267C9.09426 14.1853 9.23074 14.4111 9.62138 14.8986C10.0465 15.4282 10.1924 15.6462 10.456 16.1524C11.6044 18.3593 11.8209 21.2609 11.027 23.7996C10.8247 24.446 10.5031 25.1718 10.1877 25.6998C10.125 25.8026 10.0685 25.8991 10.0606 25.9131C10.0465 25.9396 10.1407 25.9412 11.9275 25.9412H13.8101L13.9011 25.773C14.1207 25.3665 14.3733 24.7466 14.5114 24.2793C14.6871 23.6797 14.7875 23.1128 14.833 22.4758C14.8565 22.1471 14.8424 21.4416 14.8079 21.1285C14.7028 20.1878 14.5365 19.2798 14.3592 18.6911C14.3231 18.5696 14.3168 18.5229 14.3278 18.4933C14.3498 18.4357 14.4188 18.3874 14.4816 18.3874C14.549 18.3874 14.5569 18.3952 14.8879 18.7923C15.917 20.0274 16.9807 20.9167 17.7808 21.2111C18.0349 21.3045 18.2091 21.3357 18.4868 21.3373C18.7582 21.3373 18.9103 21.3154 19.1504 21.236C19.9567 20.9712 21.0863 20.0368 22.1327 18.769C22.4213 18.4201 22.4543 18.3874 22.5249 18.3874C22.5688 18.3874 22.5955 18.3983 22.63 18.4325C22.6849 18.4886 22.688 18.54 22.6425 18.6833C22.4778 19.2051 22.3052 20.1473 22.186 21.1675C22.1578 21.4042 22.1578 22.4898 22.186 22.7405C22.277 23.5613 22.448 24.2622 22.7335 24.9833C22.8371 25.2434 23.1665 25.9225 23.1963 25.9334C23.2073 25.9381 24.0576 25.9396 25.0852 25.9381L26.9536 25.9334L26.8642 25.7854C26.2069 24.7045 25.7629 23.3978 25.5856 22.0241C25.4852 21.2407 25.4743 20.3358 25.5558 19.5555C25.7064 18.1179 26.1536 16.7396 26.8266 15.6493C26.9536 15.4437 27.0964 15.2506 27.3961 14.8752C27.7553 14.4267 27.8824 14.2242 27.9624 13.9719C28.0063 13.8333 28.0204 13.6075 27.9938 13.4595C27.9373 13.1449 27.7318 12.7711 27.4102 12.3989C27.0227 11.9519 26.5975 11.6497 26.1802 11.5251C26.0657 11.4908 26.0077 11.483 25.8602 11.4815C25.4994 11.4799 25.3236 11.5749 24.7761 12.0718C24.4404 12.3786 24.0827 12.7571 23.2465 13.6993C21.9523 15.1556 21.284 15.7942 20.5262 16.2972C19.701 16.8439 18.9041 17.0744 18.1651 16.9779C17.1972 16.8517 16.2308 16.2708 15.0667 15.1135C14.7138 14.7631 14.3984 14.4236 13.7882 13.7383C13.0336 12.8863 12.9175 12.7633 12.4954 12.3428C11.9338 11.7868 11.6765 11.5858 11.4271 11.5126C11.3063 11.4768 11.0819 11.469 10.9486 11.494Z" fill="white"/>
        <path d="M5.59109 16.7224C4.66392 16.8268 3.82931 17.4108 3.42456 18.241C2.77821 19.5648 3.29749 21.1535 4.60274 21.8497C5.29772 22.2203 6.15273 22.2717 6.89478 21.9867C7.71527 21.6721 8.35221 20.9603 8.56086 20.124C8.62989 19.8514 8.64244 19.7471 8.64244 19.4387C8.64244 19.1272 8.62832 19.0182 8.56086 18.7534C8.222 17.4451 6.94498 16.5698 5.59109 16.7224Z" fill="white"/>
        <path d="M30.8725 16.7162C30.4301 16.7676 30.1603 16.847 29.8152 17.0261C29.3649 17.2582 28.9649 17.646 28.7013 18.1039C28.546 18.3734 28.4111 18.7799 28.3703 19.1085C28.342 19.3281 28.3577 19.7517 28.4017 19.9682C28.5397 20.652 28.9319 21.2547 29.5077 21.6659C29.6771 21.7874 30.0317 21.9665 30.234 22.0319C30.9682 22.2733 31.784 22.1954 32.4523 21.8201C32.9167 21.56 33.323 21.1348 33.5631 20.6597C34.1843 19.4325 33.778 17.9264 32.6218 17.1601C32.2672 16.9265 31.817 16.7676 31.3793 16.7209C31.2396 16.7069 30.9729 16.7037 30.8725 16.7162Z" fill="white"/>
        <path d="M43.7936 13.98V17.0472H48.74V19.8984H43.7936V23.2248H49.388V26.184H40.1V11.0208H49.388V13.98H43.7936Z" fill="#D50000"/>
        <path d="M58.9139 14.0016C60.3251 14.0016 61.4483 14.4624 62.2835 15.384C63.1331 16.2912 63.5579 17.544 63.5579 19.1424V26.184H59.8859V19.6392C59.8859 18.8328 59.6771 18.2064 59.2595 17.76C58.8419 17.3136 58.2803 17.0904 57.5747 17.0904C56.8691 17.0904 56.3075 17.3136 55.8899 17.76C55.4723 18.2064 55.2635 18.8328 55.2635 19.6392V26.184H51.5699V14.1312H55.2635V15.7296C55.6379 15.1968 56.1419 14.7792 56.7755 14.4768C57.4091 14.16 58.1219 14.0016 58.9139 14.0016Z" fill="#D50000"/>
        <path d="M83.0806 11.0208V26.184H79.387V17.0904L75.9958 26.184H73.015L69.6022 17.0688V26.184H65.9086V11.0208H70.2718L74.527 21.5184L78.739 11.0208H83.0806Z" fill="#D50000"/>
        <path d="M84.7864 20.136C84.7864 18.8976 85.0167 17.8104 85.4775 16.8744C85.9528 15.9384 86.5936 15.2184 87.4 14.7144C88.2064 14.2104 89.1064 13.9584 90.1 13.9584C90.9496 13.9584 91.6911 14.1312 92.3248 14.4768C92.9727 14.8224 93.4695 15.276 93.8151 15.8376V14.1312H97.5088V26.184H93.8151V24.4776C93.4551 25.0392 92.9512 25.4928 92.3032 25.8384C91.6696 26.184 90.9279 26.3568 90.0783 26.3568C89.0992 26.3568 88.2064 26.1048 87.4 25.6008C86.5936 25.0824 85.9528 24.3552 85.4775 23.4192C85.0167 22.4688 84.7864 21.3744 84.7864 20.136ZM93.8151 20.1576C93.8151 19.236 93.556 18.5088 93.0376 17.976C92.5336 17.4432 91.9143 17.1768 91.1799 17.1768C90.4455 17.1768 89.8192 17.4432 89.3008 17.976C88.7968 18.4944 88.5447 19.2144 88.5447 20.136C88.5447 21.0576 88.7968 21.792 89.3008 22.3392C89.8192 22.872 90.4455 23.1384 91.1799 23.1384C91.9143 23.1384 92.5336 22.872 93.0376 22.3392C93.556 21.8064 93.8151 21.0792 93.8151 20.1576Z" fill="#D50000"/>
        <path d="M107.309 14.0016C108.72 14.0016 109.843 14.4624 110.679 15.384C111.528 16.2912 111.953 17.544 111.953 19.1424V26.184H108.281V19.6392C108.281 18.8328 108.072 18.2064 107.655 17.76C107.237 17.3136 106.675 17.0904 105.97 17.0904C105.264 17.0904 104.703 17.3136 104.285 17.76C103.867 18.2064 103.659 18.8328 103.659 19.6392V26.184H99.9649V14.1312H103.659V15.7296C104.033 15.1968 104.537 14.7792 105.171 14.4768C105.804 14.16 106.517 14.0016 107.309 14.0016Z" fill="#D50000"/>
        <path d="M113.569 20.1576C113.569 18.9048 113.821 17.8104 114.325 16.8744C114.844 15.9384 115.556 15.2184 116.464 14.7144C117.385 14.2104 118.436 13.9584 119.617 13.9584C121.129 13.9584 122.389 14.3544 123.397 15.1464C124.42 15.9384 125.089 17.0544 125.406 18.4944H121.475C121.144 17.5728 120.503 17.112 119.552 17.112C118.876 17.112 118.336 17.3784 117.932 17.9112C117.529 18.4296 117.328 19.1784 117.328 20.1576C117.328 21.1368 117.529 21.8928 117.932 22.4256C118.336 22.944 118.876 23.2032 119.552 23.2032C120.503 23.2032 121.144 22.7424 121.475 21.8208H125.406C125.089 23.232 124.42 24.3408 123.397 25.1472C122.375 25.9536 121.115 26.3568 119.617 26.3568C118.436 26.3568 117.385 26.1048 116.464 25.6008C115.556 25.0968 114.844 24.3768 114.325 23.4408C113.821 22.5048 113.569 21.4104 113.569 20.1576Z" fill="#D50000"/>
        <path d="M134.575 14.0016C135.957 14.0016 137.066 14.4624 137.901 15.384C138.736 16.2912 139.154 17.544 139.154 19.1424V26.184H135.482V19.6392C135.482 18.8328 135.273 18.2064 134.855 17.76C134.438 17.3136 133.876 17.0904 133.171 17.0904C132.465 17.0904 131.903 17.3136 131.486 17.76C131.068 18.2064 130.859 18.8328 130.859 19.6392V26.184H127.166V10.2H130.859V15.7512C131.234 15.2184 131.745 14.7936 132.393 14.4768C133.041 14.16 133.768 14.0016 134.575 14.0016Z" fill="#D50000"/>
        <path d="M140.77 20.136C140.77 18.8976 141 17.8104 141.461 16.8744C141.936 15.9384 142.577 15.2184 143.384 14.7144C144.19 14.2104 145.09 13.9584 146.084 13.9584C146.933 13.9584 147.675 14.1312 148.308 14.4768C148.956 14.8224 149.453 15.276 149.799 15.8376V14.1312H153.492V26.184H149.799V24.4776C149.439 25.0392 148.935 25.4928 148.287 25.8384C147.653 26.184 146.912 26.3568 146.062 26.3568C145.083 26.3568 144.19 26.1048 143.384 25.6008C142.577 25.0824 141.936 24.3552 141.461 23.4192C141 22.4688 140.77 21.3744 140.77 20.136ZM149.799 20.1576C149.799 19.236 149.54 18.5088 149.021 17.976C148.517 17.4432 147.898 17.1768 147.164 17.1768C146.429 17.1768 145.803 17.4432 145.284 17.976C144.78 18.4944 144.528 19.2144 144.528 20.136C144.528 21.0576 144.78 21.792 145.284 22.3392C145.803 22.872 146.429 23.1384 147.164 23.1384C147.898 23.1384 148.517 22.872 149.021 22.3392C149.54 21.8064 149.799 21.0792 149.799 20.1576Z" fill="#D50000"/>
      </svg>
    </a>
  </div>
  
  <nav class="hidden md:flex items-center">
    <ul class="flex space-x-8">
      <li><a href="/" class="text-neutral-darkest hover:text-guardsman transition-colors">Inicio</a></li>
      <li><a href="/ofertas" class="text-neutral-darkest hover:text-guardsman transition-colors">Ofertas</a></li>
      <li><a href="/solicitudes" class="text-neutral-darkest hover:text-guardsman transition-colors">Mis Solicitudes</a></li>
      <li class="relative group">
        <a href="#" class="text-neutral-darkest hover:text-guardsman transition-colors flex items-center">
          Más
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  
  <div class="flex items-center">
    <Button variant="primary">Iniciar sesión</Button>
  </div>
  
  <button class="md:hidden text-neutral-darkest">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</header> 